{% extends 'base.html.twig' %}

{% block title %}{{ photo.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .photo-container {
            display: flex;
            flex-direction: column;
            max-width: 40%;
            margin-right: 20px;
        }

        .photo-container img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .photo-details {
            text-align: center;
            margin-top: 20px;
        }

        .delete-form {
            text-align: center;
            margin-top: 20px;
        }

        .photo-gallery {
            display: flex;
        }

        .message {
            text-align: center;
            font-style: italic;
            color: gray;
            font-size: 25px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>{{ photo.name }}</h1>
    <div class="photo-gallery">
        <div class="photo-container">
            <img src="{{ photo.url }}" alt="{{ photo.name }}">
            <div class="photo-details">
                <p>{{ photo.description }}</p>
            </div>
            <div class="delete-form">
                <form method="post" action="{{ path('photo_delete', {'id': photo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this photo?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <div class="photo-container">
            {% if photo.bwUrl %}
                <img src="{{ photo.bwUrl }}" alt="{{ photo.name }} (Black and White)">
            {% else %}
                <div class="message">The black and white version is processing.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
